<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--<add name="conStr" connectionString="Data Source=192.168.116.48;Initial Catalog=KarvymfsDev;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="conStr" connectionString="server=192.168.116.48;database=KarvymfsDev;uid=migration;password=mig0106@s"/>-->
    <!--added by saloni-->
    <!--<add name="conStr" connectionString="Data Source=10.41.107.28,15999;Initial Catalog=KorpConnectBajaj;User Id=DFS_UAT;Password=Ysafg%%rs89$;Max Pool Size=500"/>-->

    <!--<add name="conStr" connectionString="Data Source=10.41.107.30,15999;Initial Catalog=OldBridge;User ID=DFS_UAT;Password=Ysafg%%rs89$;Max Pool Size=75000;"/>-->
    <!--<add key="LIC" value="Data Source=P1DB3LS-LIC;Initial Catalog=lic;User ID=DFS_WEB;Password=Vmapk@!ms26$;MultiSubnetFailover=True"/>-->
	  <!--<add name="conStr" connectionString="Data Source=10.41.107.30,15999;Initial Catalog=Quant;User ID=DFS_UAT;Password=Ysafg%%rs89$;Max Pool Size=75000;"/>-->
    <!--<add name="conStr" connectionString="Data Source=P1DB3LS-LIC;Initial Catalog=lic;User ID=DFS_WEB;Password=Vmapk@!ms26$;MultiSubnetFailover=True"/>-->
	  <add name="MFDWEB" connectionString="Data Source=10.41.107.33,15999;Initial Catalog=mfdweb;User ID=DFS_UAT;Password=Ysafg%%rs89$;Max Pool Size=75000;Connect Timeout=1000" />
    <add name="conStr" connectionString="Data Source=P1DB3LS-QUANT;Initial Catalog=Quant;User ID=DFS_WEB;Password=Vmapk@!ms26$;MultiSubnetFailover=True"/>
    <!--<add name="KBOLT" connectionString="Data Source=10.41.107.28,15999;Initial Catalog=Kbolt;User ID=dfs_uat;Password=Ysafg%%rs89$;Max Pool Size=75000;"/>-->
    <add name="KBOLT" connectionString="Data Source=10.41.107.28,15999;Initial Catalog=Kbolt;User ID=dfs_uat;Password=Ysafg%%rs89$;Max Pool Size=75000;" />
    <!--<add name="Kbolt" connectionString="Data Source=P1DB3LS-KBOLT;Initial Catalog=kbolt;User ID=migration;Password=Sa$mig#2007;MultiSubnetFailover=True"/>-->

  </connectionStrings>
  <appSettings>
     
    <add key="NewPurchase" value="/Templates/LIC/NewPurchase.html" />
    <add key="SWP" value="/Templates/LIC/SWP.html" />
    <add key="SIP" value="/Templates/LIC/SIP.html" />
	 <add key="STP" value="/Templates/LIC/STP.html"/>
    <add key="AddnPurchase" value="/Templates/LIC/AdditionalPurchase.html" />
    <add key="Cancellation" value="/Templates/LIC/Cancellation.html"/>
    <add key="Redemption" value="/Templates/LIC/Redemption.html" />
    <add key="Switch" value="/Templates/LIC/Switch.html" />
	<add key="ISIP" value="/Templates/LIC/ISIP.html" />
    <add key="Distributor" value="/Templates/Distributor/Distributor.html" />

    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

                 

    <add key="Server" value="10.41.171.195" />
    <add key="smtpserverport" value="587" />
    <add key="smtpUserName" value="smtp30544620" />
    <add key="smtpPassword" value="2alSyee16Q" />
    <add key="SMTPServer" value="10.41.171.195" />

    <add key="sendusing" value="2" />
    <add key="smtpauthenticate" value="1" />
    <!--<add key="Server" value="10.41.171.189" />
    <add key="SMTPServer" value="10.41.171.189" />
    <add key="smtpUserName" value="smtp68773199" />
    <add key="smtpPassword" value="k9ojseoPIQ" />
    <add key="smtpserverport" value="587" />-->

    <!--<add key="Server" value="192.168.15.89" />
    <add key="smtpserverport" value="25" />
    <add key="smtpUserName" value="karvycomfal"  />
    <add key="smtpPassword" value="e8f5f58!ab058" />
    <add key="SMTPServer" value="192.168.15.89" />-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
